
  
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
          <a routerLink="/" mat-button>Listado peliculas</a>
      </span>
      <div>
          <a routerLink="/generos" mat-button>Generos</a>
      </div>
      <div>
          <a routerLink="/actores" mat-button>Actores</a>
      </div>
      <div>
        <a routerLink="/cines" mat-button>Cines</a>
      </div>
      <div>
          <a routerLink="/peliculas/crear" mat-button>Nueva pelicula</a>
      </div>
    </mat-toolbar>

  
