

<form (submit)="Onsubmit()" [formGroup]="Form">
  <p>Formulario de Actores</p>
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input formControlName="Nombre" matInput>
    <mat-error>El campo es requerido</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Fecha de Nacimiento</mat-label>
    <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <app-input-img [imgImgC] = "modeloChild.foto" (archivoSeleccionadoChild)="archivoSeleccionadoForm($event)"></app-input-img>

  <app-input-markdown (changeMarkdown)="cambioMarkDown($event)"></app-input-markdown>

  <div>
      <button mat-flat-button color="primary" [disabled]="Form.invalid">Guardar cambios</button>
      <a mat-stroked-button routerLink="/actores">Cancelar</a>
  </div>
</form>
